@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@media (max-width: 1040px) {
  body #heading nav .navbar-w {
    display: none;
  }
  body #heading nav .menu-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
  }
  body #heading nav .menu-btn .burger {
    margin-right: 1.5rem;
  }
  body #heading nav .menu-btn svg {
    cursor: pointer;
    transition: 0.3s ease;
  }
  body #heading nav .menu-btn .menu {
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
  }
  body #heading nav .menu-btn .menu .navbar {
    flex-direction: column;
    align-items: center;
  }
  body #heading nav .menu-btn .menu .navbar-a {
    background: white;
    width: 20%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  body #heading nav .menu-btn .menu .navbar-a a {
    color: black;
  }
  body #heading nav .menu-btn .close-icon {
    position: absolute;
    font-size: 2rem;
    color: white;
    top: 0.9rem;
    right: 1.4rem;
  }
  body #heading nav .menu-btn .hidden, body #heading nav .menu-btn .clicked {
    display: none;
  }
  body #heading nav .menu-btn .visiable, body #heading nav .menu-btn .unclicked {
    display: inline-block;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

body {
  background-color: #EAC696;
  color: white;
  overflow: hidden;
}

h1, h2, h3, h2 span {
  font-family: "Assistant", sans-serif;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
  position: relative;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: #1e7943;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f954e;
}

.navBgColor {
  background-color: #232323;
}

#heading {
  z-index: 3;
  position: relative;
}
#heading nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0 1rem 3rem;
}
#heading nav .brand {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
}
#heading nav .menu-btn {
  display: none;
}
#heading nav .navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  color: white;
}
#heading nav .navbar a.p-current::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
#heading nav .navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
#heading nav .navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(0% at 0 50%);
}

.play {
  clip-path: circle(150% at 0 50%);
  transition: 1.5s ease;
  transition-property: clip-path;
}

.blur {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(101, 69, 31, 0.399);
}

#content {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}
#content .title {
  font-size: 3.3rem;
}
#content .sub-heading {
  font-size: 2rem;
}
#content .title, #content .sub-heading {
  letter-spacing: 3px;
  text-transform: uppercase;
}
#content .description {
  width: 70%;
  margin: 3rem 0;
}

button {
  padding: 1rem;
  color: black;
  background: whitesmoke;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

button:hover {
  background-color: #1e7943;
  color: #e3e3e3;
}

#social {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0.6rem;
  transform: translate(-50%, -50%);
}
#social ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#social ul a {
  color: white;
}
#social ul li {
  transition: all 1s;
}
#social ul li:hover {
  scale: 1.5;
}

.active {
  background-color: #1e7943 !important;
}

.slider-nav {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  gap: 1rem;
}
.slider-nav .slider-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.slider-nav .slider-btn:hover {
  transform: scale(1.2);
}

#recipe .container {
  display: flex;
}
#recipe .container .modal-ph {
  width: 50%;
}
#recipe .container .modal-space {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#recipe .container .modal-space .modal {
  position: absolute;
  background-color: #232323;
  width: 95%;
  height: 82%;
  bottom: 0;
  border-radius: 15px;
  overflow: scroll;
}
#recipe .container .modal-space .modal .modal-content {
  padding: 1rem;
}
#recipe .container .modal-space .modal .modal-content img {
  width: 50%;
  margin: 1rem 0;
  margin-right: 1rem;
  float: left;
}
#recipe .container .modal-space .modal .modal-content .summary {
  margin-top: 0.5rem;
}
#recipe .container .food-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -23%;
  left: -42%;
  animation: rotate 20s linear infinite;
}
#recipe .container .content {
  width: 50%;
}
#recipe .container .content .search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
#recipe .container .content .search #searchbar {
  width: 50%;
  height: 2.3rem;
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid #EAC696;
}
#recipe .container .content .search #searchbar:focus {
  outline: none;
  border: 2px solid #1e7943;
}
#recipe .container .content .search .search-icon:hover {
  cursor: pointer;
}
#recipe .container .content .results {
  overflow: hidden;
}
#recipe .container .content .results h2 {
  color: #232323;
  margin: 1rem 0 0 1.2rem;
  text-decoration: underline;
}
#recipe .container .content .foods {
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow-y: scroll;
  padding-top: 1.5rem;
  border-radius: 8px;
}
#recipe .container .content .foods .food-item {
  width: 220px;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #232323;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
}
#recipe .container .content .foods .food-item img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#recipe .container .content .foods .food-item h3 {
  padding: 10px;
  text-align: center;
}
#recipe .container .content .foods .food-item:hover {
  cursor: pointer;
}

#about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about img {
  width: 100%;
  height: 100%;
  position: absolute;
}
#about .content {
  width: 65%;
  color: #252525;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
}
#about .content h1 {
  font-size: 2rem;
}
#about .content p {
  font-size: 1.2rem;
}

#contact {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#contact .contact-img {
  object-fit: cover;
  width: 50vw;
}
#contact .contact-inputs {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding-left: 2rem;
  margin-bottom: 6rem;
}
#contact .contact-inputs h1 {
  font-size: 3rem;
  color: #232323;
}
#contact .contact-inputs .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 70%;
}
#contact .contact-inputs .inputs label {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
#contact .contact-inputs .inputs input, #contact .contact-inputs .inputs textarea {
  width: 100%;
  height: 2.3rem;
  margin-right: 5px;
  margin-top: 0.3rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  color: #232323;
  font-weight: 600;
}
#contact .contact-inputs .inputs input::placeholder, #contact .contact-inputs .inputs textarea::placeholder {
  color: #232323;
}
#contact .contact-inputs .inputs input:focus {
  outline: none;
}
#contact .contact-inputs .inputs textarea {
  margin-top: 0.5rem;
  height: 5rem;
  resize: none;
}
#contact .contact-inputs .inputs textarea:focus {
  outline: none;
}
#contact .contact-inputs .inputs button {
  margin-top: 2rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=app.css.map */