@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@media (max-width: 1040px) {
  body #heading nav .navbar-w {
    display: none;
  }
  body #heading nav .menu-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
  }
  body #heading nav .menu-btn .burger {
    margin-right: 1.5rem;
  }
  body #heading nav .menu-btn .menu {
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
  }
  body #heading nav .menu-btn .menu .navbar {
    flex-direction: column;
    align-items: center;
  }
  body #heading nav .menu-btn .menu .navbar .signout {
    background-color: #952323;
    color: #f9f0eb;
    border: none;
  }
  body #heading nav .menu-btn .menu .navbar .signout:hover {
    filter: brightness(80%);
  }
  body #heading nav .menu-btn .menu .navbar-a {
    background: white;
    width: 20%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  body #heading nav .menu-btn .menu .navbar-a * {
    color: #952323;
  }
  body #heading nav .menu-btn .menu .navbar-a a.p-current::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  body #heading nav .menu-btn .menu .navbar-a a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  body #heading nav .menu-btn .menu .navbar-a a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  body #heading nav .menu-btn .menu .navbar-a button {
    border-radius: 15px;
    border: 2px solid #952323;
    background: whitesmoke;
    font-size: 1rem;
  }
  body #heading nav .menu-btn .menu .navbar-a .logout {
    font-weight: 600;
  }
  body #heading nav .menu-btn .menu .navbar-a button:hover {
    background-color: #952323;
    color: #f9f0eb;
  }
  body #heading nav .menu-btn .menu .navbar-a .profile-icon {
    color: #952323;
  }
  body #heading nav .menu-btn .close-icon {
    position: absolute;
    font-size: 2rem;
    color: white;
    top: 1.4rem;
    right: 1.4rem;
  }
  body #heading nav .menu-btn .close-icon,
  body #heading nav .menu-btn .burger {
    cursor: pointer;
  }
  body #heading nav .menu-btn .hidden,
  body #heading nav .menu-btn .clicked {
    display: none;
  }
  body #heading nav .menu-btn .visiable,
  body #heading nav .menu-btn .unclicked {
    display: inline-block;
  }
}
@media (max-width: 500px) {
  html body #root {
    height: 100svh;
    width: 100svw;
  }
  html body #heading nav {
    padding: 1rem 1rem 0;
  }
  html body #heading nav .menu-btn .burger {
    margin: 0;
  }
  html body #heading nav .menu-btn .close-icon {
    top: 1.3rem;
    right: 15px;
  }
  html body #heading nav .menu-btn .menu .navbar-a {
    width: 50%;
    padding: 3rem 0;
  }
  html body video {
    width: 100svw;
    height: 100svh;
    pointer-events: none;
  }
  html body #content {
    padding: 0 1rem;
    margin-top: 3rem;
  }
  html body #content .description {
    font-size: 17px;
  }
  html body #content .slider-nav {
    transform: translateY(40px);
  }
  html body #recipe .container {
    flex-wrap: wrap;
    position: relative;
  }
  html body #recipe .container .food-img {
    height: 22%;
    right: 1rem;
  }
  html body #recipe .container .content {
    width: 100svw;
  }
  html body #recipe .container .content .results .foods .food-item {
    width: 161px;
    height: 221px;
  }
  html body #recipe .container .modal-space {
    width: 100svw;
  }
  html body #about {
    height: 100svh;
    width: 100svw;
  }
  html body #about img {
    object-fit: cover;
  }
  html body #contact {
    flex-direction: column;
    width: 100svw;
  }
  html body #contact .contact-img {
    width: 100vw;
    position: absolute;
    z-index: -1;
    height: 100svh;
  }
  html body #contact .contact-inputs {
    width: 100vw;
    height: 100svh;
    background: rgba(4, 4, 4, 0.5);
    margin-bottom: 0;
    color: white;
  }
  html body #contact .contact-inputs .inputs label {
    color: inherit !important;
  }
  html body #contact .contact-inputs .inputs input::placeholder,
  html body #contact .contact-inputs .inputs textarea::placeholder {
    color: white;
  }
  html body #contact .contact-inputs > *:not(button) {
    color: inherit !important;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 65%;
  max-width: 300px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.3803921569);
  border-color: rgba(31, 31, 31, 0.1215686275);
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

body {
  background-color: #f2e8c6;
  color: white;
  overflow-x: hidden;
}

h1,
h2,
h3,
h2 span {
  font-family: "Assistant", sans-serif;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
  position: relative;
}

.full-page {
  width: 100vw;
  height: 100vh;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-display {
  display: grid;
}

.no-scrolling {
  overflow: hidden;
}

footer {
  color: #3f2323;
  text-align: center;
  padding: 1rem 0;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}
footer ul li:nth-child(1) {
  border-right: double;
  padding: 0 1rem;
}
footer ul li a {
  color: #3f2323;
}
footer ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
footer ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
footer .copyright {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible !important;
}

.revealPsw {
  position: relative;
}

.fa-eye {
  visibility: hidden;
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  margin-left: 0.5rem;
  top: 30%;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: #952323;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c1919;
}

.navBgColor {
  background-color: #3f2323;
}

.line-height {
  line-height: 1.6;
}

.loading {
  animation: rotate 1s linear infinite;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heading {
  z-index: 3;
  position: absolute;
  width: 100%;
}
#heading nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0 1rem 3rem;
  font-size: 1.5rem;
}
#heading nav .brand {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
}
#heading nav .menu-btn {
  display: none;
}
#heading nav .navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
}
#heading nav .navbar .underline.p-current::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
#heading nav .navbar .underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
#heading nav .navbar .underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#heading nav .profile-icon {
  cursor: pointer;
  transition: all 0.5s;
}
#heading nav .profile-icon path {
  pointer-events: none;
}
#heading nav .profile-icon:hover {
  color: #952323;
}
#heading nav .acct-menu {
  height: 10rem;
  width: 12rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  right: 1.5rem;
  top: 5.5rem;
  list-style: none;
  background-color: white;
  color: #952323;
  border-radius: 20px;
  border: 2px solid;
  transition: all 0.3s;
}
#heading nav .acct-menu li > a {
  color: #952323;
}
#heading nav .acct-menu .logout {
  cursor: pointer;
}
#heading nav .acct-menu hr {
  width: 80%;
  border: 1px solid;
}
#heading nav .hidden {
  opacity: 0;
  pointer-events: none;
}
#heading nav .visible {
  opacity: 1;
  pointer-events: all;
}
#heading nav .profile-icon:has(+ ul.visible) {
  color: #952323;
}

video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(0% at 0 50%);
}

.play {
  clip-path: circle(150% at 0 50%);
  transition: 1.5s ease;
  transition-property: clip-path;
}

.blur {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(101, 69, 31, 0.399);
}

#content {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}
#content .title {
  font-size: 3.3rem;
}
#content .sub-heading {
  font-size: 2rem;
}
#content .title,
#content .sub-heading {
  letter-spacing: 3px;
  text-transform: uppercase;
}
#content .description {
  width: 70%;
  margin: 3rem 0;
  font-size: 1.1rem;
  height: 8.75rem;
}

button {
  padding: 1rem;
  color: black;
  background: whitesmoke;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

button:hover {
  background-color: #952323;
  color: #e3e3e3;
}

#social {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0.6rem;
  transform: translate(-50%, -50%);
}
#social ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#social ul a {
  color: white;
}
#social ul li {
  transition: all 1s;
}
#social ul li:hover {
  scale: 1.5;
}

.active {
  background-color: #952323 !important;
}

.slider-nav {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  gap: 1rem;
}
.slider-nav .slider-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.slider-nav .slider-btn:hover {
  transform: scale(1.2);
}

#recipe {
  width: 100%;
}
#recipe .container {
  display: flex;
  height: fit-content;
  width: 100%;
}
#recipe .container .modal-ph {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 3rem;
  color: #952323;
}
#recipe .container .modal-space {
  height: fit-content;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#recipe .container .modal-space .modal {
  background-color: #3f2323;
  width: 95%;
  height: 82%;
  border-radius: 15px;
  margin-top: 11.3rem;
  margin-bottom: 1rem;
}
#recipe .container .modal-space .modal .modal-content {
  padding: 1rem;
}
#recipe .container .modal-space .modal .modal-content img {
  width: 50%;
  margin: 1rem 0;
  margin-right: 1rem;
  float: left;
}
#recipe .container .modal-space .modal .modal-content .summary {
  margin-top: 0.7rem;
}
#recipe .container .modal-space .modal .modal-content .details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  float: right;
}
#recipe .container .modal-space .modal .modal-content .details span,
#recipe .container .modal-space .modal .modal-content .details h2 {
  text-decoration: underline;
}
#recipe .container .modal-space .modal .modal-content .details .ingredients {
  list-style-type: disc;
  list-style-position: inside;
}
#recipe .container .modal-space .modal .modal-content .details .instructions {
  list-style-position: inside;
}
#recipe .container .modal-space .modal .modal-content .details .instructions li {
  margin-bottom: 1rem;
}
#recipe .container .food-img {
  position: absolute;
  width: fit-content;
  height: 50%;
  top: 4.2rem;
  right: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  animation: bounce-in-right 1s forwards;
}
#recipe .container .content {
  margin-top: 3rem;
  width: 50%;
}
#recipe .container .content .search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
#recipe .container .content .search #searchbar {
  height: 2.3rem;
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid #f2e8c6;
}
#recipe .container .content .search #searchbar:focus {
  outline: none;
  border: 2px solid #952323;
}
#recipe .container .content .search button {
  background-color: #952323;
  color: #f9f0eb;
}
#recipe .container .content .search button:hover {
  cursor: pointer;
  background-color: #be2d2d;
}
#recipe .container .content .results h2 {
  color: #3f2323;
  margin: 1rem 0 0 3rem;
  text-decoration: underline;
}
#recipe .container .content .foods {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  border-radius: 8px;
}
#recipe .container .content .foods .food-item {
  position: relative;
  width: 220px;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #952323;
  transition: all 0.5s;
  border: 2px solid #952323;
}
#recipe .container .content .foods .food-item img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  pointer-events: none;
}
#recipe .container .content .foods .food-item h3 {
  padding: 10px;
  text-align: center;
  pointer-events: none;
}
#recipe .container .content .foods .food-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
}

#about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/about_bg.avif");
  background-size: cover;
}
#about .content {
  width: 65%;
  color: #252525;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
}
#about .content h1 {
  font-size: 2rem;
}
#about .content p {
  font-size: 1.2rem;
}

#contact {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#contact .contact-img {
  object-fit: cover;
  width: 50vw;
}
#contact .contact-inputs {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding-left: 2rem;
  margin-bottom: 6rem;
}
#contact .contact-inputs h1 {
  font-size: 3rem;
  color: #3f2323;
}
#contact .contact-inputs .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 70%;
}
#contact .contact-inputs .inputs label {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
#contact .contact-inputs .inputs input,
#contact .contact-inputs .inputs textarea {
  width: 100%;
  height: 2.3rem;
  margin-right: 5px;
  margin-top: 0.3rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  color: #3f2323;
  font-weight: 600;
}
#contact .contact-inputs .inputs input::placeholder,
#contact .contact-inputs .inputs textarea::placeholder {
  color: #3f2323;
}
#contact .contact-inputs .inputs input:focus {
  outline: none;
}
#contact .contact-inputs .inputs textarea {
  margin-top: 0.5rem;
  height: 5rem;
  resize: none;
}
#contact .contact-inputs .inputs textarea:focus {
  outline: none;
}
#contact .contact-inputs .inputs button {
  margin-top: 2rem;
}

#error-page {
  position: relative;
  width: 100%;
  height: 100vh;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/img/error_bg.avif") no-repeat center bottom;
  background-size: cover;
}
#error-page span {
  font-size: 8rem;
}
#error-page h1 {
  text-align: center;
  color: #f9f0eb;
  font-size: 4rem;
  z-index: 2;
}

#error-page:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

#register {
  flex-direction: column;
  gap: 1.5rem;
}
#register .signup-wrapper {
  display: flex;
  background: #3f2323;
  justify-content: center;
  width: 40%;
  max-width: 370px;
  min-height: 404px;
  height: 51%;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.8);
}
#register .signup-wrapper .formInputs {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1.5rem;
  height: 85%;
}
#register .signup-wrapper .formInputs div:not(:last-of-type) {
  padding: 0 3rem;
}
#register .signup-wrapper .formInputs input[name=pwd] {
  width: 100%;
}
#register .signup-wrapper .formInputs input[name=pwd],
#register .signup-wrapper .formInputs input[name=email] {
  border-radius: 5px;
  height: 2rem;
  border: 1px solid black;
  margin-top: 0.3rem;
  padding: 0 0.3rem;
}
#register .signup-wrapper .formInputs p {
  text-align: center;
  font-size: 0.8rem;
  margin: auto 2.8rem;
  margin-top: 0.5rem;
}
#register .signup-wrapper .formInputs .submit-buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
#register .signup-wrapper .formInputs .submit-buttons button {
  padding: 0.5rem;
  width: 73%;
  background: maroon;
  color: white;
}
#register .signup-wrapper .formInputs .submit-buttons button:hover {
  filter: brightness(90%);
}
#register div:nth-last-child(2) {
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #3f2323;
}
#register div:nth-last-child(2) a {
  color: #0087ca;
}
#register div:nth-last-child(2) a:hover {
  color: #952323;
}

.signup-wrapper {
  display: flex;
  background: #3f2323;
  justify-content: center;
  width: 40%;
  height: 51%;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.8);
}

input[name=pwd] {
  width: 100%;
}

input[name=pwd],
input[name=email] {
  border-radius: 5px;
  height: 2rem;
  border: 1px solid black;
  margin-top: 0.3rem;
  padding: 0 0.3rem;
}

#login {
  flex-direction: column;
  gap: 1rem;
}
#login .authTypes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  text-align: center;
  align-items: center;
}
#login .authTypes a {
  padding: 0.7rem;
  border-radius: 54px;
  font-size: 0.8rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  min-width: 245px;
}
#login .authTypes a:hover {
  filter: brightness(85%);
  background-color: #952323;
  color: #f9f0eb;
}
#login .authTypes .gsi-material-button {
  border: none;
  border-radius: 19px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}
#login .authTypes .gsi-material-button:hover {
  filter: brightness(90%);
}
#login .authTypes .gh {
  background-color: #0e0d0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  max-width: 300px;
}
#login .authTypes .gh p {
  width: 100%;
}
#login .authTypes .fa-github {
  font-size: 1.5rem;
}
#login .loginSection {
  height: 32%;
  width: 25%;
  max-width: 384px;
  min-width: 333px;
}
#login .loginSection .formInputs {
  width: 76%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
}
#login .loginSection .formInputs .forgotPass {
  display: flex;
  justify-content: space-between;
  color: #f9f0eb;
}
#login .loginSection .formInputs .forgotPass p:hover {
  color: #952323;
  cursor: pointer;
}
#login .loginSection .formInputs .login-button {
  padding: 0.5rem;
  background: maroon;
  color: white;
}
#login .loginSection .formInputs .login-button:hover {
  filter: brightness(90%);
}
#login #modal {
  text-align: right;
  background-color: #e6e6e6;
  color: black;
  padding: 1rem;
  border-radius: 1.2rem;
}
#login #modal > form {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 2fr;
}
#login #modal > button {
  margin-bottom: 1rem;
  background: transparent;
  padding: 0;
}
#login #modal > form > input {
  margin: 0;
  margin-left: auto;
  width: 80%;
}
#login #modal > form > button {
  grid-column: 2;
  width: fit-content;
  justify-self: end;
  margin-top: 1rem;
}
#login div:nth-child(3) {
  font-size: 0.85rem;
  color: #3f2323;
}
#login div:nth-child(3) a {
  color: #0087ca;
}
#login div:nth-child(3) a:hover {
  color: #952323;
}

.open {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  display: none;
}

.bg-cover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

#verify-code {
  width: 100vw;
  height: 100vh;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f2323;
}
#verify-code .verification-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#verify-code .verification-info h1 {
  font-size: 1.5rem;
  font-family: auto;
}
#verify-code .verification-code {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 14px;
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.5);
  max-width: 44rem;
}
#verify-code .verification-code button {
  width: fit-content;
  background-color: transparent;
  padding: 0;
  margin-top: 0.5rem;
  font-weight: 600;
  color: #0087ca;
}
#verify-code .verification-code button:hover {
  color: #3f2323;
}
#verify-code .input-boxes {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#verify-code .code-input {
  width: 25px;
  height: 38px;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  outline: none;
  border: 2px #952323 solid;
}

#recipe .saved-recipes h2 {
  font-family: fangsong;
  letter-spacing: 1px;
}
#recipe .saved-recipes .foods:has(.saved-recipes-ph) {
  width: 100vw;
  width: 100svw;
  padding: 0;
}
#recipe .saved-recipes .saved-recipes-ph {
  color: #952323;
  font-weight: 600;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#recipe .saved-recipes .save-icon {
  color: #0087ca;
}

.save-icon {
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 30px;
  height: fit-content;
  z-index: 2;
  transition: all 1s;
}
.save-icon path {
  pointer-events: none;
}

.save-icon:hover {
  color: #0087ca;
  scale: 1.3;
}

#recipe .content:has(.saved-recipes) {
  margin-top: 5.5rem;
}

.bookmarked {
  color: #0087ca;
}

#dashboard {
  width: 100vw;
  height: 100vh;
  width: 100svw;
  height: 100svh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  margin-left: 3rem;
  color: black;
}
#dashboard h1 {
  font-size: 5rem;
  font-family: "Times New Roman", Times, serif !important;
}
#dashboard .dashboard-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  width: 88%;
  align-items: center;
}
#dashboard .dashboard-info h2 {
  border-bottom: 1px solid black;
}
#dashboard .dashboard-info h2:nth-child(2) {
  text-align: center;
}
#dashboard .dashboard-info h2:nth-child(4) {
  text-align: center;
}
#dashboard .dashboard-info h2:nth-child(6) {
  text-align: center;
}
#dashboard .dashboard-info button {
  width: fit-content;
  margin: auto;
}
#dashboard .del-acct {
  position: absolute;
  bottom: 1rem;
  width: fit-content;
  font-weight: 900;
  background-color: #2b2b2b;
  color: red;
}
#dashboard .del-modal {
  position: absolute;
  padding: 0 2rem;
  z-index: 3;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12rem;
  width: 27rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
#dashboard .del-modal .del-btns {
  display: flex;
  gap: 1.5rem;
}
#dashboard .del-modal .del-btns button {
  font-size: 1rem;
}
#dashboard .del-modal .del-btns button:nth-child(1) {
  border: 2px solid #952323;
}
#dashboard .del-modal .del-btns button:nth-child(2) {
  background-color: #2b2b2b;
  color: red;
}
#dashboard .del-modal .del-btns button:nth-child(2):hover {
  filter: brightness(80%);
}

#resetPass {
  height: 100vh;
  width: 100vw;
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#resetPass .signup-wrapper {
  max-width: 28rem;
}
#resetPass .formInputs {
  width: 80%;
}
#resetPass .formInputs .grid-display {
  margin-bottom: 0.8rem;
}
#resetPass p {
  font-size: 0.8rem;
  width: 90%;
  text-align: center;
  margin: auto;
}
#resetPass .submit-buttons {
  text-align: center;
  margin-top: 2rem;
}/*# sourceMappingURL=app.css.map */