@use "./abstracts/forward" as *;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

body {
  background-color: $sixty;
  color: white;
  overflow-x: hidden;
}

h1,
h2,
h3,
h2 span {
  font-family: "Assistant", sans-serif;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
  position: relative;
}

.full-page {
  width: 100vw;
  height: 100vh;
  width: 100svw;
  height: 100svh;
  @include flexDisplay(center, center);
}

.grid-display {
  display: grid;
}

.no-scrolling {
  overflow: hidden;
}

footer {
  color: $navBar;
  text-align: center;
  padding: 1rem 0;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;

    li:nth-child(1) {
      border-right: double;
      padding: 0 1rem;
    }

    li {
      a {
        color: $navBar;
      }
      a::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: $highlight;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }

      a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .copyright {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible !important;
}

.revealPsw {
  position: relative;
}

.fa-eye {
  visibility: hidden;
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  margin-left: 0.5rem;
  top: 30%;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

//   Width
::-webkit-scrollbar {
  width: 15px;
}

//   Track
::-webkit-scrollbar-track {
  background: #2b2b2b;
}

//   Handle
::-webkit-scrollbar-thumb {
  background: $ten;
  border-radius: 10px;
}

//   Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: darken($color: $ten, $amount: 10%);
}

.navBgColor {
  background-color: $navBar;
}

.line-height {
  line-height: 1.6;
}

.loading {
  animation: rotate 1s linear infinite;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heading {
  z-index: 3;
  //   position: relative;
  position: absolute;
  width: 100%;

  nav {
    // display: flex;
    // justify-content: space-around;
    // margin-top: 1rem;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0 1rem 3rem;
    font-size: 1.5rem;

    .brand {
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      font-size: 2rem;
    }

    .menu-btn {
      display: none;
    }

    .navbar {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      color: white;

      // li:nth-child(2) > a {
      //   background-color: $white;
      //   color: $ten;
      //   font-size: 1.2rem;
      //   padding: 0.5rem;
      //   border-radius: 15px;
      // }

      // li:nth-child(2) > a:hover {
      //   filter: brightness(90%);
      //   background-color: $white;
      //   color: $ten;
      // }

      // li:nth-child(3) > a {
      //   background-color: $ten;
      //   color: $white;
      //   font-size: 1.2rem;
      //   padding: 0.5rem;
      //   border-radius: 15px;
      // }

      // li:nth-child(3) > a:hover {
      //   background-color: darken($color: $ten, $amount: 10%);
      //   color: $white;
      // }

      .underline.p-current::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: $highlight;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }

      .underline::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: $highlight;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }

      .underline:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    .profile-icon {
      cursor: pointer;
      transition: all 0.5s;
      path {
        pointer-events: none;
      }
    }

    .profile-icon:hover {
      color: $ten;
    }

    .acct-menu {
      height: 10rem;
      width: 12rem;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      position: absolute;
      right: 1.5rem;
      top: 5.5rem;
      list-style: none;
      background-color: white;
      color: $ten;
      border-radius: 20px;
      border: 2px solid;
      transition: all 0.3s;

      li > a {
        color: $ten;
      }

      .logout {
        cursor: pointer;
      }

      hr {
        width: 80%;
        border: 1px solid;
      }
    }

    .hidden {
      opacity: 0;
      pointer-events: none;
    }

    .visible {
      opacity: 1;
      pointer-events: all;
    }

    .profile-icon:has(+ ul.visible) {
      color: $ten;
    }
  }
}

video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(0% at 0 50%);
}

.play {
  clip-path: circle(150% at 0 50%);
  transition: 1.5s ease;
  transition-property: clip-path;
}

.blur {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $blur;
}

#content {
  z-index: 2;
  position: relative;
  width: 100%;
  // height: 150vh; // use for scrollbar testing
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;

  .title {
    font-size: 3.3rem;
  }

  .sub-heading {
    font-size: 2rem;
  }

  .title,
  .sub-heading {
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .description {
    width: 70%;
    margin: 3rem 0;
    font-size: 1.1rem;
    height: 8.75rem;
  }
}

button {
  padding: 1rem;
  color: black;
  background: whitesmoke;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

button:hover {
  background-color: $ten;
  color: #e3e3e3;
}

#social {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0.6rem;
  transform: translate(-50%, -50%);

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      color: white;
    }

    li {
      transition: all 1s;
    }

    li:hover {
      scale: 1.5;
    }
  }
}

.active {
  background-color: $ten !important;
}

.slider-nav {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  gap: 1rem;

  .slider-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
  }

  .slider-btn:hover {
    transform: scale(1.2);
  }
}

#recipe {
  width: 100%;
  // height: 80vh;

  .container {
    display: flex;
    // height: 100vh;
    height: fit-content;
    width: 100%;

    .modal-ph {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      font-size: 3rem;
      color: $ten;
    }

    .modal-space {
      height: fit-content;
      width: 50%;
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;

      .modal {
        background-color: $navBar;
        width: 95%;
        height: 82%;
        border-radius: 15px;
        margin-top: 11.3rem;
        margin-bottom: 1rem;

        .modal-content {
          padding: 1rem;
          // overflow: scroll;

          img {
            width: 50%;
            margin: 1rem 0;
            margin-right: 1rem;
            float: left;
          }

          .summary {
            margin-top: 0.7rem;
            // line-height: 1.6;
          }

          .details {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1.5rem;
            float: right;

            span,
            h2 {
              text-decoration: underline;
            }

            .ingredients {
              list-style-type: disc;
              list-style-position: inside;
            }

            .instructions {
              list-style-position: inside;

              li {
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }

    .food-img {
      position: absolute;
      width: fit-content;
      height: 50%;
      top: 4.2rem;
      right: 0;
      pointer-events: none;
      z-index: -1;
      opacity: 0;
      animation: bounce-in-right 1s forwards;
    }

    .content {
      margin-top: 3rem;
      width: 50%;

      .search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        #searchbar {
          height: 2.3rem;
          padding: 0 10px;
          margin-right: 5px;
          border-radius: 5px;
          border: 2px solid $sixty;
        }

        #searchbar:focus {
          outline: none;
          border: 2px solid $ten;
        }

        button {
          background-color: $ten;
          color: $white;
        }

        button:hover {
          cursor: pointer;
          background-color: lighten($color: $ten, $amount: 10%);
        }
      }

      .results {
        // overflow: hidden;

        h2 {
          color: $navBar;
          margin: 1rem 0 0 3rem;
          text-decoration: underline;
        }
      }

      .foods {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        // grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 2rem;
        // overflow-y: scroll;
        padding-top: 1.5rem;
        padding-bottom: 1.2rem;
        border-radius: 8px;

        .food-item {
          position: relative;
          width: 220px;
          height: 235px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 20px;
          background-color: $ten;
          transition: all 0.5s;
          border: 2px solid $ten;

          img {
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            pointer-events: none;
          }

          h3 {
            padding: 10px;
            text-align: center;
            pointer-events: none;
          }
        }

        .food-item:hover {
          cursor: pointer;
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
          -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
          -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

#about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/about_bg.avif");
  background-size: cover;

  //   img {
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //   }

  .content {
    width: 65%;
    color: #252525;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

#contact {
  width: 100vw;
  height: 100vh;
  display: flex;

  .contact-img {
    object-fit: cover;
    width: 50vw;
  }

  .contact-inputs {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-left: 2rem;
    margin-bottom: 6rem;

    h1 {
      font-size: 3rem;
      color: $navBar;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 70%;

      label {
        margin-top: 1rem;
        color: rgba($color: black, $alpha: 0.5);
        font-weight: 600;
      }

      input,
      textarea {
        width: 100%;
        height: 2.3rem;
        margin-right: 5px;
        margin-top: 0.3rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: none;
        border-bottom: 2px solid white;
        background: none;
        color: $navBar;
        font-weight: 600;
      }

      input::placeholder,
      textarea::placeholder {
        color: $navBar;
      }

      input:focus {
        // background-color: white;
        outline: none;
      }

      textarea {
        margin-top: 0.5rem;
        height: 5rem;
        resize: none;
      }

      textarea:focus {
        outline: none;
      }

      button {
        margin-top: 2rem;
      }
    }
  }
}

#error-page {
  position: relative;
  width: 100%;
  height: 100vh;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/img/error_bg.avif") no-repeat center bottom;
  background-size: cover;

  span {
    font-size: 8rem;
  }

  h1 {
    text-align: center;
    color: $white;
    font-size: 4rem;
    z-index: 2;
  }
}

#error-page:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

#register {
  flex-direction: column;
  gap: 1.5rem;

  .signup-wrapper {
    display: flex;
    background: #3f2323;
    justify-content: center;
    width: 40%;
    max-width: 370px;
    min-height: 404px;
    height: 51%;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.8);

    .formInputs {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 1.5rem;
      height: 85%;

      div:not(:last-of-type) {
        padding: 0 3rem;
      }

      input[name="pwd"] {
        width: 100%;
      }

      input[name="pwd"],
      input[name="email"] {
        border-radius: 5px;
        height: 2rem;
        border: 1px solid black;
        margin-top: 0.3rem;
        padding: 0 0.3rem;
      }

      p {
        text-align: center;
        font-size: 0.8rem;
        margin: auto 2.8rem;
        margin-top: 0.5rem;
      }

      .submit-buttons {
        display: flex;
        justify-content: center;
        gap: 4rem;

        button {
          padding: 0.5rem;
          width: 73%;
          background: maroon;
          color: white;
        }

        button:hover {
          filter: brightness(90%);
        }
      }
    }
  }

  div:nth-last-child(2) {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: $navBar;

    a {
      color: $highlight;
    }

    a:hover {
      color: $ten;
    }
  }
}

.signup-wrapper {
  display: flex;
  background: #3f2323;
  justify-content: center;
  width: 40%;
  height: 51%;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.8);
}

input[name="pwd"] {
  width: 100%;
}

input[name="pwd"],
input[name="email"] {
  border-radius: 5px;
  height: 2rem;
  border: 1px solid black;
  margin-top: 0.3rem;
  padding: 0 0.3rem;
}

#login {
  flex-direction: column;
  gap: 1rem;

  .authTypes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    text-align: center;
    align-items: center;

    a {
      padding: 0.7rem;
      border-radius: 54px;
      font-size: 0.8rem;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
      transition: all 0.3s;
      min-width: 245px;
    }

    a:hover {
      filter: brightness(85%);
      background-color: $ten;
      color: $white;
    }

    .gsi-material-button {
      border: none;
      border-radius: 19px;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    }

    .gsi-material-button:hover {
      filter: brightness(90%);
      // background-color: inherit;
    }

    .gh {
      background-color: #0e0d0c;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 65%;
      max-width: 300px;

      p {
        width: 100%;
      }
    }

    .fa-github {
      font-size: 1.5rem;
    }
  }

  .loginSection {
    height: 32%;
    width: 25%;
    max-width: 384px;
    min-width: 333px;
    .formInputs {
      width: 76%;
      // height: 85%;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      gap: 1rem;

      .forgotPass {
        display: flex;
        justify-content: space-between;
        color: $white;

        p:hover {
          color: $ten;
          cursor: pointer;
        }
      }

      .login-button {
        padding: 0.5rem;
        background: maroon;
        color: white;
      }

      .login-button:hover {
        filter: brightness(90%);
      }
    }
  }

  #modal {
    text-align: right;
    background-color: #e6e6e6;
    color: black;
    padding: 1rem;
    border-radius: 1.2rem;
  }

  #modal > form {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 2fr;
  }

  #modal > button {
    margin-bottom: 1rem;
    background: transparent;
    padding: 0;
  }

  #modal > form > input {
    margin: 0;
    margin-left: auto;
    width: 80%;
  }

  #modal > form > button {
    grid-column: 2;
    width: fit-content;
    justify-self: end;
    margin-top: 1rem;
  }

  div:nth-child(3) {
    font-size: 0.85rem;
    color: $navBar;

    a {
      color: $highlight;
    }

    a:hover {
      color: $ten;
    }
  }
}

.open {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  display: none;
}

.bg-cover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

/////////////////////////////////// VERIFY CODE PAGE

#verify-code {
  width: 100vw;
  height: 100vh;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $navBar;

  .verification-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // max-width: 44rem;

    h1 {
      font-size: 1.5rem;
      font-family: auto;
    }
  }

  .verification-code {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 14px;
    box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.5);
    max-width: 44rem;

    button {
      width: fit-content;
      background-color: transparent;
      padding: 0;
      margin-top: 0.5rem;
      font-weight: 600;
      color: $highlight;
    }
    button:hover {
      color: $navBar;
    }
  }

  .input-boxes {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .code-input {
    width: 25px;
    height: 38px;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    outline: none;
    border: 2px $ten solid;
  }
}

///////////////////////////// saved recipes
#recipe .saved-recipes {
  h2 {
    font-family: fangsong;
    letter-spacing: 1px;
  }

  .foods:has(.saved-recipes-ph) {
    width: 100vw;
    width: 100svw;
    padding: 0;
  }

  .saved-recipes-ph {
    color: $ten;
    font-weight: 600;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .save-icon {
    color: $highlight;
  }
}

.save-icon {
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 30px;
  height: fit-content;
  z-index: 2;
  transition: all 1s;

  path {
    pointer-events: none;
  }
}
.save-icon:hover {
  color: $highlight;
  scale: 1.3;
}
#recipe .content:has(.saved-recipes) {
  margin-top: 5.5rem;
}

.bookmarked {
  color: $highlight;
}

///////////////////////////// dashboard

#dashboard {
  width: 100vw;
  height: 100vh;
  width: 100svw;
  height: 100svh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  margin-left: 3rem;
  color: black;

  h1 {
    font-size: 5rem;
    font-family: "Times New Roman", Times, serif !important;
  }

  .dashboard-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 88%;
    align-items: center;

    h2 {
      border-bottom: 1px solid black;
    }

    h2:nth-child(2) {
      text-align: center;
    }

    h2:nth-child(4) {
      text-align: center;
    }

    h2:nth-child(6) {
      text-align: center;
    }

    button {
      width: fit-content;
      margin: auto;
    }
  }

  .del-acct {
    position: absolute;
    bottom: 1rem;
    width: fit-content;
    font-weight: 900;
    background-color: #2b2b2b;
    color: red;
  }

  .del-modal {
    position: absolute;
    padding: 0 2rem;
    z-index: 3;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 12rem;
    width: 27rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;

    .del-btns {
      display: flex;
      gap: 1.5rem;

      button {
        font-size: 1rem;
      }

      button:nth-child(1) {
        border: 2px solid $ten;
      }

      button:nth-child(2) {
        background-color: #2b2b2b;
        color: red;
      }

      button:nth-child(2):hover {
        filter: brightness(80%);
      }
    }
  }
}

/////////////////////////////////// RESET PASSWORD PAGE

#resetPass {
  height: 100vh;
  width: 100vw;
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup-wrapper {
    max-width: 28rem;
  }

  .formInputs {
    width: 80%;
    .grid-display {
      margin-bottom: 0.8rem;
    }
  }

  p {
    font-size: 0.8rem;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .submit-buttons {
    text-align: center;
    margin-top: 2rem;
  }
}
